<div class="transaction-table-container">

  <div class="row" *ngIf="transactions == null">
    <div class="col-xs-12">
      <h4>{{'message.loadingTransactions' | translate}}</h4>
    </div>
  </div>

  <div *ngIf="transactions != null">
    <div class="table-responsive">
      <table class="table table-borderless table-striped">
        <thead>
          <tr class="row">
            <th class="col-1 pr-0" *ngIf="!hideBlockHash">{{'label.height' | translate | uppercase}}</th>
            <th class="col-2 pr-0">{{'label.txHash' | translate | uppercase}}</th>
            <th class="col-2 pr-1 pl-1">{{'label.blockHash' | translate | uppercase}}</th>
            <th class="col-2 right-align pl-1 pr-1">{{'label.amount' | translate | uppercase}}</th>
            <th class="col-2 right-align pl-1 pr-1" *ngIf="!hideBlockHash">{{'label.fee' | translate | uppercase}}</th>
            <th class="col-2 right-align pl-0">{{'label.time' | translate | uppercase}}</th>
          </tr>
        </thead>

        <tbody infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="300" (scrolled)="getTransactions()"
          [scrollWindow]="true">
          <tr *ngFor="let item of transactions">
            <td class="pr-0" style="min-width: 70px;" *ngIf="!hideBlockHash">
              <a class="text-highlight" routerLink="/blocks/{{item.height}}">{{item.height}}</a>
            </td>
            <td class="pr-0" style="min-width: 140px;">
              <a class="text-highlight" routerLink="/transactions/{{item.id}}">{{truncate(item.id, 8, 5) | uppercase}}</a>
            </td>
            <td class="pr-1 pl-1" style="min-width: 125px;">
              <a class="text-highlight" routerLink="/blocks/{{item.blockhash}}">{{truncate(item.blockhash, 8, 5) | uppercase}}</a>
            </td>
            <td class="text-primary right-align pl-1 pr-1" style="min-width: 65px;">{{getAmount(item) | explorerCurrency}}</td>
            <td class="text-primary right-align pl-1 pr-1" style="min-width: 70px;" *ngIf="!hideBlockHash">{{item.fee | explorerCurrency}}</td>
            <td class="text-primary right-align pl-0" style="min-width: 240px;">
              {{item.time * 1000 | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm:ss'}}
              ({{amAgo(item.time)}})
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="isLoading" class="loading">
        <lottie-animation-view
          [options]="lottieConfig"
          [width]="150"
          [height]="150"
        >
        </lottie-animation-view>
      </div>
    </div>
  </div>
</div>