<div class="transaction-table-container">

  <div class="row" *ngIf="transactions == null">
    <div class="col-xs-12">
      <h4>{{'message.loadingTransactions' | translate}}</h4>
    </div>
  </div>

  <div *ngIf="transactions != null">
    <div class="table-responsive">
      <table class="table table-borderless table-striped">
        <thead>
          <tr class="row">
            <!-- <th class="col-1" *ngIf="hideBlockHash">{{'label.height' | translate | uppercase}}</th> -->
            <th class="col-2">{{'label.txHash' | translate | uppercase}}</th>
            <!-- <th class="col-2" *ngIf="!hideBlockHash">{{'label.type' | translate | uppercase}}</th> -->
            <!-- <th class="col-1" *ngIf="!hideBlockHash">{{'label.result' | translate | uppercase}}</th> -->
            <th class="col-2">{{'label.blockHash' | translate | uppercase}}</th>
            <th class="col-2 right-align">{{'label.amount' | translate | uppercase}}</th>
            <!-- <th class="col-2 right-align" *ngIf="!hideBlockHash">{{'label.fee' | translate | uppercase}}</th> -->
            <!-- <th class="col-1 right-align" *ngIf="!hideBlockHash">{{'label.height' | translate | uppercase}}</th> -->
            <th class="col-2 right-align">{{'label.time' | translate | uppercase}}</th>
          </tr>
        </thead>

        <tbody infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="300" (scrolled)="getTransactions()"
          [scrollWindow]="true">
          <tr *ngFor="let item of transactions">
            <!-- <td *ngIf="hideBlockHash">
              <a class="text-highlight" routerLink="/blocks/{{item.height}}">{{item.height}}</a>
            </td> -->
            <td>
              <a class="text-highlight" routerLink="/transactions/{{item.id}}">{{truncate(item.id, 8, 5) | uppercase}}</a>
            </td>
            <!-- <td class="text-primary" *ngIf="!hideBlockHash">Reward: Masternode</td> -->
            <!-- <td class="text-primary" *ngIf="!hideBlockHash">
              <span class="glyphicon {{getResult(item) ? 'glyphicon-ok' : 'glyphicon-remove'}}"></span> {{getResult(item) ? 'Success' : 'Fail'}}
            </td> -->
            <td>
              <a class="text-highlight" routerLink="/transactions/{{item.blockhash}}">{{truncate(item.blockhash, 8, 5) | uppercase}}</a>
            </td>
            <td class="text-primary right-align">{{getAmount(item) | explorerCurrency}}</td>
            <!-- <td class="text-primary right-align" *ngIf="!hideBlockHash">{{getFee(item) | explorerCurrency}}</td> -->
            <!-- <td class="right-align" *ngIf="!hideBlockHash">
              <a class="text-highlight" routerLink="/blocks/{{item.height}}">{{item.height}}</a>
            </td> -->
            <td class="text-primary right-align">
              {{item.time * 1000 | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm:ss'}}
              ({{amAgo(item.time)}})
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="isLoading" class="loading">
        <lottie-animation-view
          [options]="lottieConfig"
          [width]="150"
          [height]="150"
        >
        </lottie-animation-view>
      </div>
    </div>
  </div>
</div>