<div class="tab-content row">
    <div class="col-xs-12 block-header">
        <div class="page-title">
            {{'label.blocks' | translate}}
        </div>
        <div class="blocks-info text-label">
            <div>
                {{'label.height' | translate | uppercase}}: <span class="text-highlight">{{blocks && blocks.length > 0 ? blocks[0].height : " "}}</span>
            </div>
            <div>
                {{'label.inflation' | translate | uppercase}}: <span class="text-highlight">{{ (10512000 * 100 / ticker.circulatingSupply).toFixed(2) }} %</span>
            </div>
            <div>
                {{'label.price' | translate | uppercase}}: <span class="text-highlight">$ {{prices.usd && prices.usd.toFixed(3)}}</span>
            </div>
        </div>
    </div>
    <div class="col-md-12 block-table-wrapper">
        <app-block-table [blocks]="blocks" [isLoading]="isLoading" [loadingType]="loadingType" (updateBlocks)="updateBlocks()"></app-block-table>
    </div>
</div>