[Unit]
Description=XSN RPC Server

[Service]
Type=simple
WorkingDirectory=/home/rpc/
StandardOutput=tty
StandardError=tty
User=rpc
ExecStart=/home/rpc/xsn/xsnd

Restart=on-failure

[Install]
WantedBy=multi-user.target
