<div>
  <div class="row">
    <h2 class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-1'">{{'label.richestAddresses' | translate}}</h2>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
      <table class="table table-condensed table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th class="col-xs-2 col-sm-2 col-md-1 col-lg-1">{{'label.address' | translate}}</th>
            <th class="col-xs-2 col-sm-2 col-md-1 col-lg-1">{{'label.amount' | translate}}</th>
            <th class="col-xs-2 col-sm-2 col-md-1 col-lg-1">{{'label.percentOfCoins' | translate}}</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let item of asyncItems | async | paginate: { id: 'richestAddresses', itemsPerPage: pageSize, currentPage: currentPage, totalItems: total }">
            <td>
              <a routerLink="/addresses/{{item.address}}">{{item.address}}</a>
            </td>
            <td>{{item.available}} {{'label.coinName' | translate}}</td>
            <td *ngIf="ticker == null || ticker.circulatingSupply == null">{{'label.unavailable' | translate}}</td>
            <td *ngIf="ticker != null && ticker.circulatingSupply != null">{{getPercent(item)}} %</td>
          </tr>
        </tbody>
      </table>

      <div class="has-text-centered">
        <pagination-controls (pageChange)="getPage($event)" id="richestAddresses"></pagination-controls>
      </div>
    </div>
  </div>
</div>
