.new-address {
  animation: blinker 1s linear;
}

@keyframes blinker {
  50% {
    background-color: #D4FFD4;
  }
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}