<div>
  <div class="row visible-xs">
    <h2 class="col-xs-12">{{'label.richestAddresses' | translate}}</h2>
  </div>

  <div class="table-responsive">
    <table class="table table-condensed table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th class="col-xs-1">#</th>
          <th class="col-xs-2 col-md-1">{{'label.address' | translate}}</th>
          <th class="col-xs-2 col-md-1">{{'label.amount' | translate}}</th>
          <th class="col-xs-2 col-md-1">{{'label.percentOfCoins' | translate}}</th>
        </tr>
      </thead>

      <tbody class='search-results'
      infiniteScroll
      [infiniteScrollDistance]="1"
      [infiniteScrollThrottle]="300"
      (scrolled)="load()"
      [scrollWindow]="true">
          <tr *ngFor="let index = index; let item of items" class="new-address">
            <td>{{index + 1}}</td>
            <td>
              <a routerLink="/addresses/{{item.address}}">{{item.address}}</a>
            </td>
            <td>{{item.available | explorerCurrency}}</td>
            <td *ngIf="ticker == null || ticker.circulatingSupply == null">{{'message.unavailable' | translate}}</td>
            <td *ngIf="ticker != null && ticker.circulatingSupply != null">
              <div
              with="100%"
              [ngStyle]="{'background': 'linear-gradient(to right, rgb(240, 237, 255) ' + (getPercent(item)) + '%, rgba(0,0,0,0) 0%)'}"
              >
                {{getPercent(item) | number:'1.2-2'}} %
              </div>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
