<div>
  <div [hidden]="transaction != null">
    <alert>{{'message.transactionNotFound' | translate}}</alert>
  </div>
  <div *ngIf="transaction != null">
    <div class="row">
      <label class="col-sm-2 col-md-1 col-xs-1 col-lg-1">{{'label.transactionId' | translate}}</label>
      <label class="col-sm-2 col-md-1 col-xs-1 col-lg-1">{{transaction.id}}</label>
    </div>
    <div class="row">
      <label class="col-sm-2 col-md-1 col-xs-1 col-lg-1">{{'label.confirmations' | translate}}</label>
      <label class="col-sm-2 col-md-1 col-xs-1 col-lg-1">{{transaction.confirmations}}</label>
    </div>
    <!-- TODO: Add link to block view -->
    <div class="row">
      <label class="col-sm-2 col-md-1 col-xs-1 col-lg-1">{{'label.blockhash' | translate}}</label>
      <label class="col-sm-2 col-md-1 col-xs-1 col-lg-1">
        <a routerLink="/blocks/{{transaction.blockhash}}">{{transaction.blockhash}}</a></label>
    </div>
    <div class="row">
      <label class="col-sm-2 col-md-1 col-xs-1 col-lg-1">{{'label.blocktime' | translate}}</label>
      <label class="col-sm-3 col-md-2 col-xs-2 col-lg-2">{{transaction.blocktime * 1000 | date:'MMMM d, y, h:mm:ss a'}}</label>
    </div>
    <div class="row">
      <label class="col-sm-2 col-md-1 col-xs-1 col-lg-1">{{'label.fee' | translate}}</label>
      <label class="col-sm-3 col-md-2 col-xs-2 col-lg-2">{{getFee(transaction)}} {{'label.coinName' | translate}}</label>
    </div>

    <!-- Input -->
    <div>
      <div *ngIf="transaction.input == null">
        <div class="row">
          <label class="col-sm-2 col-md-1 col-xs-1 col-lg-1">{{'label.noInput' | translate}}</label>
          <label class="col-sm-2 col-md-1 col-xs-1 col-lg-1">{{'label.coinbase' | translate}}</label>
        </div>
      </div>
      <div *ngIf="transaction.input != null">
        <div class="row">
          <label class="col-sm-2 col-md-1 col-xs-1 col-lg-1">{{'label.from' | translate}}</label>
          <label class="col-sm-2 col-md-1 col-xs-1 col-lg-1">
            <a routerLink="/addresses/{{transaction.input.address}}">{{transaction.input.address}}</a>
          </label>
        </div>
        <div class="row">
          <label class="col-sm-2 col-md-1 col-xs-1 col-lg-1">{{'label.value' | translate}}</label>
          <label class="col-sm-2 col-md-1 col-xs-1 col-lg-1">{{transaction.input.value}} {{'label.coinName' | translate}}</label>
        </div>
      </div>
    </div>

    <!-- Output -->
    <div>
      <div class="row">
        <label class="col-sm-2 col-md-1 col-xs-1 col-lg-1"><strong>{{'label.output' | translate}}</strong></label>
      </div>
      <div *ngFor="let item of transaction.output">
        <div class="row">
          <label class="col-sm-2 col-md-1 col-xs-1 col-lg-1">{{'label.to' | translate}}</label>
          <label class="col-sm-2 col-md-1 col-xs-1 col-lg-1">
            <a routerLink="/addresses/{{item.address}}">{{item.address}}</a>
          </label>
        </div>
        <div class="row">
          <label class="col-sm-2 col-md-1 col-xs-1 col-lg-1">{{'label.value' | translate}}</label>
          <label class="col-sm-2 col-md-1 col-xs-1 col-lg-1">{{item.value}} {{'label.coinName' | translate}}</label>
        </div>
      </div>
    </div>
  </div>
</div>
