<div>
  <div class="row">
    <div class="col-xs-12 col-md-offset-2 col-md-8 table-container">
        <div class="row">
          <h2 class="col-xs-12">{{'label.transaction' | translate}}</h2>
          <tabset class="col-xs-12">
            <tab heading="{{'label.details' | translate}}" (select)="selectView('details')">
              <app-transaction-details *ngIf="isSelected('details')"></app-transaction-details>
            </tab>
            <tab heading="{{'label.raw' | translate}}" (select)="selectView('raw')">
              <app-transaction-raw *ngIf="isSelected('raw')"></app-transaction-raw>
            </tab>
          </tabset>
        </div>
    </div>
  </div>
</div>
