.block-tab-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.block-tab-bar>li>a {
    color: #01D9DE;
    background-color: transparent;
    font-size: 14px;
    padding: 0;
}

.block-tab-bar>li {
    margin: 0 5px;
    padding: 13px 13px 9px;
    cursor: pointer;
}

.block-tab-bar>li.active>a {
    color: #FFFFFF;
}

.block-tab-bar>li.active,
.block-tab-bar>li:hover {
    background-color: #222534;
    border-radius: 20px;
}

.block-tab-content {
    padding: 10px 0;
    border-top: 1px solid #282D3C;
}

.block-tab-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-top: 1px solid #282D3C;
}