<nav class="navbar navbar-default">
  <div class="container-fluid col-md-offset-2">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">
        <img class="navbar-logo" src="assets/stakenet.png" alt="Logo">
      </a>
      <a routerLink="/" class="title">
        <span class="navbar-brand">XSN Block Explorer</span>
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li *ngFor="let tab of tabs" [ngClass]="{ 'active': isSelected(tab.path) }">
        <a routerLink="{{tab.path}}">{{tab.label | translate}}</a>
      </li>
    </ul>
  </div>
</nav>
