.transaction-table-wrapper {
    padding: 0;
    padding-top: 15px;
    border-top: 1px solid #282D3C;
}

ul.merchant-select {
    width: 100%;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
}

ul.merchant-select li {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #989DCC;
    background: transparent;
    flex: 1;
    height: 24px;
    max-width: 64px;
    font-size: 12px;
    cursor: pointer;
    position: relative;
}

ul.merchant-select li::after {
    height: 2px;
    display: block;
    background: #01D9DE 0% 0% no-repeat padding-box;
    content: " ";
    width: 100%;
    position: absolute;
    bottom: 0;
}

ul.merchant-select li.active {
    color: white;
    background: transparent linear-gradient(0deg, #01D9DE18 0%, #2558EB00 100%) 0% 0% no-repeat padding-box;
}

ul.merchant-select li:hover {
    color: #286090;
}

.block-tab-content {
    padding-top: 10px;
    border-top: 1px solid #282D3C;
}