<div class="row">
  <div class="col-xs-12 col-md-offset-1 col-md-10">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">

          {{'label.totalSupply' | translate}}
          <span class="glyphicon glyphicon-question-sign help" [title]="'message.totalSupply' | translate"></span>
        </div>

        <div class="panel-body">
          <span *ngIf="ticker == null || ticker.totalSupply == null">
            {{'message.unavailable' | translate}}
          </span>
          <span *ngIf="ticker != null && ticker.totalSupply != null">
            {{ticker.totalSupply | explorerCurrency}}
          </span>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          {{'label.circulatingSupply' | translate}}
          <span class="glyphicon glyphicon-question-sign help" [title]="'message.circulatingSupply' | translate"></span>
        </div>

        <div class="panel-body">
          <span *ngIf="ticker == null || ticker.circulatingSupply == null">
            {{'message.unavailable' | translate}}
          </span>

          <span *ngIf="ticker != null && ticker.circulatingSupply != null">
            {{ticker.circulatingSupply | explorerCurrency}}
          </span>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          {{'label.blocks' | translate}}
        </div>

        <div class="panel-body">
          <span *ngIf="ticker == null">
            {{'message.unavailable' | translate}}
          </span>

          <span *ngIf="ticker != null">
            {{ticker.blocks}}
          </span>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          {{'label.masternodes' | translate}}
        </div>

        <div class="panel-body">
          <span *ngIf="ticker == null || ticker.masternodes == null">
            {{'message.unavailable' | translate}}
          </span>

          <span *ngIf="ticker != null && ticker.masternodes != null">
            {{ticker.masternodes}}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
