<div class="row">
  <div class="col-xs-12 col-md-offset-2 col-md-8">

    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="panel panel-default">

        <div class="panel-body data">
          <span *ngIf="ticker == null || ticker.totalSupply == null">
            {{'message.unavailable' | translate}}
          </span>
          <span *ngIf="ticker != null && ticker.totalSupply != null">
            {{ticker.totalSupply | explorerAmount}}
            <small class="currency">{{config.currentCurrency}}</small>
          </span>
        </div>
        <div class="panel-body lbl-bottom">
          {{'label.totalSupply' | translate | uppercase}}
          <span class="glyphicon glyphicon-question-sign help" [title]="'message.totalSupply' | translate"></span>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="panel panel-default">

        <div class="panel-body data">
          <span *ngIf="ticker == null || ticker.circulatingSupply == null">
            {{'message.unavailable' | translate}}
          </span>

          <span *ngIf="ticker != null && ticker.circulatingSupply != null">
            {{ticker.circulatingSupply | explorerAmount}}
            <small class="currency">{{config.currentCurrency}}</small>
          </span>
        </div>

        <div class="panel-body lbl-bottom">
          {{'label.circulatingSupply' | translate | uppercase}}
          <span class="glyphicon glyphicon-question-sign help" [title]="'message.circulatingSupply' | translate"></span>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="panel panel-default">

        <div class="panel-body data">
          <span *ngIf="ticker == null">
            {{'message.unavailable' | translate}}
          </span>

          <span *ngIf="ticker != null">
            {{ticker.blocks}}
          </span>
        </div>
        <div class="panel-body lbl-bottom">
          {{'label.blocks' | translate | uppercase}}
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="panel panel-default">
        <div class="panel-body data">
          <span *ngIf="ticker == null || ticker.masternodes == null">
            {{'message.unavailable' | translate}}
          </span>

          <span *ngIf="ticker != null && ticker.masternodes != null">
            {{ticker.masternodes}}
          </span>
        </div>
        <div class="panel-body lbl-bottom">
          {{'label.masternodes' | translate | uppercase}}
        </div>
      </div>
    </div>
  </div>
</div>
