<div class="row text-primary mr-0 ml-0">
    <div class="col-sm-12 col-md-4 col-md-push-8 calculator-stats">
        <div class="tab-content calculator-stats-container">
            <div class="col-xs-6 calculator-stat-item">
                <div class="calculator-label">
                    {{'label.masternodes' | translate}}:
                </div>
                <div class="calculator-stat-data">
                    {{stats && stats.masternodes}}
                </div>
            </div>

            <div class="col-xs-6 calculator-stat-item">
                <div class="calculator-label">
                    {{'label.tposNodes' | translate}}:
                </div>
                <div class="calculator-stat-data">
                    {{stats.tposnodes}}
                </div>
            </div>

            <div class="col-xs-6 calculator-stat-item">
                <div class="calculator-label">
                    {{'label.coinsInMasternodes' | translate}}:
                </div>
                <div class="calculator-stat-data">
                    {{stats.masternodes * 15000}} XSN <br/>
                    <small>({{stats.masternodes * 15000 / serverStats.circulatingSupply | number: '1.2-2' | percent}} of circ. supply)</small>
                </div>
            </div>

            <div class="col-xs-6 calculator-stat-item">
                <div class="calculator-label">
                    {{'label.coinsStaking' | translate}}:
                </div>
                <div class="calculator-stat-data">
                    {{rewardsSummary && rewardsSummary.rewardedAddressesSumLast72Hours && rewardsSummary.rewardedAddressesSumLast72Hours.toFixed(0)}} XSN <br/>
                    <small>({{ rewardsSummary.rewardedAddressesSumLast72Hours.toFixed(0) / serverStats.circulatingSupply | number: '1.2-2' | percent}} of circ. supply)</small>
                </div>
            </div>

            <div class="col-xs-6 calculator-stat-item">
                <div class="calculator-label">
                    {{'label.masternodeROI' | translate}}:
                </div>
                <div class="calculator-stat-data">
                    {{(rewardsSummary.masternodesROI * 100).toFixed(2)}}% <small>Year</small>
                </div>
            </div>

            <div class="col-xs-6 calculator-stat-item">
                <div class="calculator-label">
                    {{'label.stakingROI' | translate}}:
                </div>
                <div class="calculator-stat-data">
                    {{(rewardsSummary.stakingROI * 100).toFixed(2)}}% <small>Year</small>
                </div>
            </div>

            <div class="col-xs-6 calculator-stat-item">
                <div class="calculator-label">
                    {{'label.requiredForMasternode' | translate}}:
                </div>
                <div class="calculator-stat-data">
                    {{requiredForMasternode}} XSN <br>
                    $ {{(prices.usd * requiredForMasternode).toFixed(3)}} <br>
                    {{(prices.btc * requiredForMasternode).toFixed(8)}} BTC
                </div>
            </div>

            <div class="col-xs-6 calculator-stat-item">
                <div class="calculator-label">
                    {{'label.price' | translate}}:
                </div>
                <div class="calculator-stat-data">
                    $ {{prices.usd.toFixed(3)}}
                </div>
            </div>

            <div class="col-xs-12 calculator-stat-item">
                <div class="calculator-label">
                    {{'label.rewardPerBlock' | translate}}:
                </div>
                <div class="calculator-stat-data">
                    9 XSN
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-8 col-md-pull-4 calculator-panel">
        <tabset>
            <tab heading="BLOCK REWARDS">
                <div>
                    <div class="col-xs-12 fs-14 calculator-label">
                        {{'label.xsnAmountHold' | translate}}
                    </div>
        
                    <div class="col-xs-12">
                        <div class="calculator-hold-amount text-highlight">
                            <span class="glyphicon glyphicon-tasks"></span>
                            <input type="number" class="form-control calculator-balance-input" [(ngModel)]="holdAmount" (ngModelChange)="onChangeAmount()" />
                        </div>
                    </div>
        
                    <div class="col-xs-12 fs-14 calculator-optimal-setup">
                        <span class="text-label">{{'label.optimalSetup' | translate}}: </span>{{masternodeCount}} {{'label.masternodeAnd' | translate}} {{xsnStaking}} {{'label.xsnStaking' | translate}}
                    </div>
        
                    <div class="col-xs-6 calculator-comparison-table">
                        <h4 class="main-label">{{'label.stakingAllCoins' | translate}}</h4>

                        <p class="sub-label">{{'label.daily' | translate}}:</p>
                        <p>{{(rewardsSummary.stakingROI * holdAmount / 365).toFixed(4)}} XSN <small class="text-label">(ROI: {{(rewardsSummary.stakingROI * 100 / 365).toFixed(2)}}%)</small></p>
                        <p>$ {{(rewardsSummary.stakingROI * holdAmount * prices.usd / 365).toFixed(4)}}</p>
                        <p>{{(rewardsSummary.stakingROI * holdAmount * prices.btc / 365).toFixed(8)}} BTC</p>

                        <p class="sub-label">{{'label.monthly' | translate}}:</p>
                        <p>{{(rewardsSummary.stakingROI * holdAmount / 12).toFixed(4)}} XSN <small class="text-label">(ROI: {{(rewardsSummary.stakingROI * 100 / 12).toFixed(2)}}%)</small></p>
                        <p>$ {{(rewardsSummary.stakingROI * holdAmount * prices.usd / 12).toFixed(4)}}</p>
                        <p>{{(rewardsSummary.stakingROI * holdAmount * prices.btc / 12).toFixed(8)}} BTC</p>

                        <p class="sub-label">{{'label.yearly' | translate}}:</p>
                        <p>{{(rewardsSummary.stakingROI * holdAmount).toFixed(4)}} XSN <small class="text-label">(ROI: {{(rewardsSummary.stakingROI * 100).toFixed(2)}}%)</small></p>
                        <p>$ {{(rewardsSummary.stakingROI * holdAmount * prices.usd).toFixed(4)}}</p>
                        <p>{{(rewardsSummary.stakingROI * holdAmount * prices.btc).toFixed(8)}} BTC</p>

                        <!-- {{'label.waitingTimePerReward' | translate}} -->
                    </div>
                    <div class="col-xs-6 calculator-comparison-table">
                        <h4 class="main-label">{{'label.masternodeStakingRemaining' | translate}}</h4>

                        <p class="sub-label">{{'label.daily' | translate}}:</p>
                        <p>{{(mnstaking / 365).toFixed(4)}} XSN <small class="text-label">(ROI: {{(rewardsSummary.masternodesROI * 100 / 365).toFixed(2)}}%)</small></p>
                        <p>$ {{(mnstaking * prices.usd / 365).toFixed(4)}}</p>
                        <p>{{(mnstaking * prices.btc / 365).toFixed(8)}} BTC</p>

                        <p class="sub-label">{{'label.monthly' | translate}}:</p>
                        <p>{{(mnstaking / 12).toFixed(4)}} XSN <small class="text-label">(ROI: {{(rewardsSummary.masternodesROI * 100 / 12).toFixed(2)}}%)</small></p>
                        <p>$ {{(mnstaking * prices.usd / 12).toFixed(4)}}</p>
                        <p>{{(mnstaking * prices.btc / 12).toFixed(8)}} BTC</p>

                        <p class="sub-label">{{'label.yearly' | translate}}:</p>
                        <p>{{mnstaking.toFixed(4)}} XSN <small class="text-label">(ROI: {{(rewardsSummary.masternodesROI * 100).toFixed(2)}}%)</small></p>
                        <p>$ {{(mnstaking * prices.usd).toFixed(4)}}</p>
                        <p>{{(mnstaking * prices.btc).toFixed(8)}} BTC</p>
                    </div>
                </div>
            </tab>
            <tab heading="HYDRA NODE">
                <div>
                    <div class="row mr-0 ml-0 slider-row">
                        <div class="col-xs-12 col-md-6">
                            <h5>{{'label.blockRewards' | translate}}</h5>
                            <div class="slider-block">
                                <span class="slider-label">{{'label.xsnPrice' | translate}}</span>
                                <div class="slider-wrapper">
                                    <ejs-slider [(value)]='xsnPriceLog' [min]='0' [max]='100' [type]='range' (change)='xsnPriceChange($event)'></ejs-slider>
                                </div>
                                <span class="slider-value">$ {{toFinString(xsnPrice)}}</span>
                            </div>
                            <div class="slider-block">
                                <span class="slider-label">{{'label.totalMasternodes' | translate}}</span>
                                <div class="slider-wrapper">
                                    <ejs-slider [value]='xsnPriceLog' [min]='0' [max]='100' [type]='range' (change)='xsnPriceChange($event)'></ejs-slider>
                                </div>
                                <span class="slider-value">$ {{xsnPriceLog}}</span>
                            </div>
                            <div class="slider-block">
                                <span class="slider-label">{{'label.yourMasternodes' | translate}}</span>
                                <div class="slider-wrapper">
                                    <ejs-slider [(value)]='ownedNodesLog' [min]='0' [max]='100' [type]='range' (change)='ownedNodesLogChange($event)'></ejs-slider>
                                </div>
                                <span class="slider-value">{{ownedNodes}}</span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <h5>{{'label.orderbookRewards' | translate}}</h5>
                            <div class="slider-block switch-block">
                                <span class="slider-label">{{'label.enableOrderbookHosting' | translate}}</span>
                                <div class="switch-wrapper">
                                    <ui-switch size="small" [(ngModel)]="orderbookHostingEnabled" color="#01D9DE"></ui-switch>
                                </div>
                            </div>
                            <div class="slider-block">
                                <span class="slider-label">{{'label.dailyTradingVolume' | translate}}</span>
                                <div class="slider-wrapper">
                                    <ejs-slider [(value)]='tradingVolumeLog' [min]='0' [max]='100' [type]='range' (change)='tradingVolumeLogChange($event)'></ejs-slider>
                                </div>
                                <span class="slider-value">$ {{toFinString(tradingVolume)}}</span>
                            </div>
                            <div class="slider-block">
                                <span class="slider-label">{{'label.mnsHostingOrderbook' | translate}}</span>
                                <div class="slider-wrapper">
                                    <ejs-slider [value]='mnHostingCost' [min]='0' [max]='100' [type]='range' (change)='xsnPriceChange($event)'></ejs-slider>
                                </div>
                                <span class="slider-value">$ {{mnHostingCostString}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row mr-0 ml-0">
                        <div class="col-xs-12 col-md-4">
                            <div class="result-pane">
                                <h5 class="result-pane-title">{{ 'label.daily' | translate | uppercase }}</h5>
                                <div class="value-block">
                                    <span class="calculator-label">
                                        {{'label.calculatedBlockRewards' | translate}}:
                                    </span>
                                    <span class="price-label">$ {{toFinString(blockRewards)}} / day</span>
                                </div>
                                <div class="value-block">
                                    <span class="calculator-label">
                                        {{'label.calculatedOrderbookHostingRewards' | translate}}:
                                    </span>
                                    <span class="price-label">$ 5.76 / day</span>
                                </div>
                                <div class="value-block">
                                    <span class="calculator-label">
                                        {{'label.masternodeHostingCost' | translate}}:
                                    </span>
                                    <span class="price-label">$ 5.76 / day</span>
                                </div>
                                <div class="value-block">
                                    <span class="calculator-label">
                                        {{'label.totalRewardsEST' | translate}}:
                                    </span>
                                    <span class="price-label">$ 5.76 / day</span>
                                </div>
                                <div class="value-block roi">
                                    <span class="calculator-label">
                                        {{'label.roi' | translate}}:
                                    </span>
                                    <span class="price-label">$ 5.76 / day</span>
                                </div>
                                <div class="value-block">
                                    <span class="calculator-label">
                                        {{'label.daysUntilFreeMasternodeEarned' | translate}}:
                                    </span>
                                    <span class="price-label">$ 5.76 / day</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="result-pane">
                                <h5 class="result-pane-title">{{ 'label.monthly' | translate | uppercase }}</h5>
                                <div class="value-block">
                                    <span class="calculator-label">
                                        {{'label.calculatedBlockRewards' | translate}}:
                                    </span>
                                    <span class="price-label">$ 5.76 / month</span>
                                </div>
                                <div class="value-block">
                                    <span class="calculator-label">
                                        {{'label.calculatedOrderbookHostingRewards' | translate}}:
                                    </span>
                                    <span class="price-label">$ 5.76 / month</span>
                                </div>
                                <div class="value-block">
                                    <span class="calculator-label">
                                        {{'label.masternodeHostingCost' | translate}}:
                                    </span>
                                    <span class="price-label">$ 5.76 / month</span>
                                </div>
                                <div class="value-block">
                                    <span class="calculator-label">
                                        {{'label.totalRewardsEST' | translate}}:
                                    </span>
                                    <span class="price-label">$ 5.76 / month</span>
                                </div>
                                <div class="value-block roi">
                                    <span class="calculator-label">
                                        {{'label.roi' | translate}}:
                                    </span>
                                    <span class="price-label">$ 5.76 / month</span>
                                </div>
                                <div class="value-block">
                                    <span class="calculator-label">
                                        {{'label.daysUntilFreeMasternodeEarned' | translate}}:
                                    </span>
                                    <span class="price-label">$ 5.76 / month</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="result-pane">
                                <h5 class="result-pane-title">{{ 'label.yearly' | translate | uppercase }}</h5>
                                <div class="value-block">
                                    <span class="calculator-label">
                                        {{'label.calculatedBlockRewards' | translate}}:
                                    </span>
                                    <span class="price-label">$ 5.76 / year</span>
                                </div>
                                <div class="value-block">
                                    <span class="calculator-label">
                                        {{'label.calculatedOrderbookHostingRewards' | translate}}:
                                    </span>
                                    <span class="price-label">$ 5.76 / year</span>
                                </div>
                                <div class="value-block">
                                    <span class="calculator-label">
                                        {{'label.masternodeHostingCost' | translate}}:
                                    </span>
                                    <span class="price-label">$ 5.76 / year</span>
                                </div>
                                <div class="value-block">
                                    <span class="calculator-label">
                                        {{'label.totalRewardsEST' | translate}}:
                                    </span>
                                    <span class="price-label">$ 5.76 / year</span>
                                </div>
                                <div class="value-block roi">
                                    <span class="calculator-label">
                                        {{'label.roi' | translate}}:
                                    </span>
                                    <span class="price-label">$ 5.76 / year</span>
                                </div>
                                <div class="value-block">
                                    <span class="calculator-label">
                                        {{'label.daysUntilFreeMasternodeEarned' | translate}}:
                                    </span>
                                    <span class="price-label">$ 5.76 / year</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
            <!-- <tab heading="BLOCK REWARDS">
                <div>
                    <div class="col-xs-12 fs-14 calculator-label">
                        {{'label.xsnAmountHold' | translate}}
                    </div>
        
                    <div class="col-xs-12">
                        <div class="calculator-hold-amount text-highlight">
                            <span class="glyphicon glyphicon-tasks"></span>
                            <input type="number" class="form-control calculator-balance-input" [(ngModel)]="holdAmount" (ngModelChange)="onChangeAmount()" />
                        </div>
                    </div>
        
                    <div class="col-xs-12 fs-14 calculator-optimal-setup">
                        <span class="text-label">{{'label.optimalSetup' | translate}}: </span>{{masternodeCount}} {{'label.masternodeAnd' | translate}} {{xsnStaking}} {{'label.xsnStaking' | translate}}
                    </div>
        
                    <div class="col-xs-6 calculator-comparison-table">
                        <h4 class="main-label">{{'label.stakingAllCoins' | translate}}</h4>

                        <p class="sub-label">{{'label.daily' | translate}}:</p>
                        <p>{{(rewardsSummary.stakingROI * holdAmount / 365).toFixed(4)}} XSN <small class="text-label">(ROI: {{(rewardsSummary.stakingROI * 100 / 365).toFixed(2)}}%)</small></p>
                        <p>$ {{(rewardsSummary.stakingROI * holdAmount * prices.usd / 365).toFixed(4)}}</p>
                        <p>{{(rewardsSummary.stakingROI * holdAmount * prices.btc / 365).toFixed(8)}} BTC</p>

                        <p class="sub-label">{{'label.monthly' | translate}}:</p>
                        <p>{{(rewardsSummary.stakingROI * holdAmount / 12).toFixed(4)}} XSN <small class="text-label">(ROI: {{(rewardsSummary.stakingROI * 100 / 12).toFixed(2)}}%)</small></p>
                        <p>$ {{(rewardsSummary.stakingROI * holdAmount * prices.usd / 12).toFixed(4)}}</p>
                        <p>{{(rewardsSummary.stakingROI * holdAmount * prices.btc / 12).toFixed(8)}} BTC</p>

                        <p class="sub-label">{{'label.yearly' | translate}}:</p>
                        <p>{{(rewardsSummary.stakingROI * holdAmount).toFixed(4)}} XSN <small class="text-label">(ROI: {{(rewardsSummary.stakingROI * 100).toFixed(2)}}%)</small></p>
                        <p>$ {{(rewardsSummary.stakingROI * holdAmount * prices.usd).toFixed(4)}}</p>
                        <p>{{(rewardsSummary.stakingROI * holdAmount * prices.btc).toFixed(8)}} BTC</p>
                    </div>
                    <div class="col-xs-6 calculator-comparison-table">
                        <h4 class="main-label">{{'label.masternodeStakingRemaining' | translate}}</h4>

                        <p class="sub-label">{{'label.daily' | translate}}:</p>
                        <p>{{(mnstaking / 365).toFixed(4)}} XSN <small class="text-label">(ROI: {{(rewardsSummary.masternodesROI * 100 / 365).toFixed(2)}}%)</small></p>
                        <p>$ {{(mnstaking * prices.usd / 365).toFixed(4)}}</p>
                        <p>{{(mnstaking * prices.btc / 365).toFixed(8)}} BTC</p>

                        <p class="sub-label">{{'label.monthly' | translate}}:</p>
                        <p>{{(mnstaking / 12).toFixed(4)}} XSN <small class="text-label">(ROI: {{(rewardsSummary.masternodesROI * 100 / 12).toFixed(2)}}%)</small></p>
                        <p>$ {{(mnstaking * prices.usd / 12).toFixed(4)}}</p>
                        <p>{{(mnstaking * prices.btc / 12).toFixed(8)}} BTC</p>

                        <p class="sub-label">{{'label.yearly' | translate}}:</p>
                        <p>{{mnstaking.toFixed(4)}} XSN <small class="text-label">(ROI: {{(rewardsSummary.masternodesROI * 100).toFixed(2)}}%)</small></p>
                        <p>$ {{(mnstaking * prices.usd).toFixed(4)}}</p>
                        <p>{{(mnstaking * prices.btc).toFixed(8)}} BTC</p>
                    </div>
                </div>
            </tab> -->
        </tabset>
    </div>
</div>