.btn-search {
  background: #2C80FF;
  border-radius: 0 8px 8px 0;
  border-radius: 0px 8px 8px 0px;
}

::-webkit-input-placeholder {
  /* Edge */
  opacity: 0.8;
  font-family: InterUI-Regular;
  font-size: 12px;
  color: #141829;
}

:-ms-input-placeholder {
  /* Internet Explorer */
  opacity: 0.8;
  font-family: InterUI-Regular;
  font-size: 12px;
  color: #141829;
}

::placeholder {
  opacity: 0.8;
  font-family: InterUI-Regular;
  font-size: 12px;
  color: #141829;
}

.input-group-addon {
  background-color: #ffffff;
  border-left: #ffffff;
  border-right: #ffffff;
}

.input-lg {
  border-left: #ffffff;
}
