<div class="row">
  <div class="col-xs-12 col-md-offset-2 col-md-8">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate role="form">

      <div [ngClass]="{
        'has-success': errorService.hasCorrectValue(form, 'searchField'),
        'has-error': errorService.hasWrongValue(form, 'searchField')
      }">
        <div class="input-group">
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-search text-primary"></span>
          </div>
          <input type="text" class="form-control input-lg" maxlength="64" formControlName="searchField" type="text"
            id="searchField" placeholder="{{ 'label.searchField' | translate }}">

          <span class="input-group-btn">
            <button class="btn btn-primary btn-serach btn-lg" type="button" [disabled]="!form.valid">
              {{ 'action.find' | translate }}
            </button>
          </span>

        </div>
      </div>

      <div [hidden]="!errorService.hasWrongValue(form, 'searchField')">
        <span class="text-danger">{{ errorService.getFieldError(form, 'searchField') | translate }}</span>
      </div>

    </form>
  </div>
</div>
<br *ngIf="!errorService.hasWrongValue(form, 'searchField')">
