.btn-search {
  background: #2C80FF;
  border-radius: 0 8px 8px 0;
  border-radius: 0px 8px 8px 0px;
}

::-webkit-input-placeholder {
  font-size: 14px;
}

:-ms-input-placeholder {
  /* Internet Explorer */
  font-size: 14px;
}

::placeholder {
  font-size: 14px;
}

.input-group-addon {
  background-color: #ffffff;
  border-left: #ffffff;
  border-right: #ffffff;
}

.input-lg {
  border-left: #ffffff;
}

.padding-finder {
  padding-left: 2px;
  padding-right: 2px;
}
