[Unit]
Description=Lightning Network Daemon

[Service]
Type=simple
WorkingDirectory=/home/lnd/
StandardOutput=tty
StandardError=tty
User=lnd
LimitNOFILE=65535
ExecStart=/home/lnd/app/lnd
Restart=on-failure

[Install]
WantedBy=multi-user.target
