<div class="tposnodes-container">
  <div class="table-responsive">
    <table class="table table-borderless table-striped">
      <thead>
        <tr class="row">
          <th class="col-xs-1">#</th>
          <th class="col-xs-2">{{'label.ip' | translate | uppercase}}</th>
          <th class="col-xs-2">{{'label.protocol' | translate | uppercase}}</th>
          <!-- TODO: Display status when the WATCHDOG_EXPIRED bug is fixed.
                <th class="col-xs-2 col-sm-2 col-md-1 col-lg-1">{{'label.status' | translate}}</th>
                 -->
          <th class="col-xs-2">{{'label.active' | translate | uppercase}}</th>
          <th class="col-xs-2">{{'label.lastSeen' | translate | uppercase}}</th>
          <th class="col-xs-3 right-align">{{'label.payee' | translate | uppercase}}</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let index = index; let item of asyncItems | async | paginate: { id: 'tposnodes', itemsPerPage: pageSize, currentPage: currentPage, totalItems: total }">
          <td class="text-primary">{{(currentPage - 1) * pageSize + index + 1}}</td>
          <td class="text-primary pr-0">{{item.ip}}</td>
          <td class="text-primary">{{item.protocol}}</td>
          <!-- TODO: Display status when the WATCHDOG_EXPIRED bug is fixed.
                <td>{{item.status}}</td>
                -->
          <td class="text-primary">{{Math.max(item.activeSeconds, 0) | amDuration:'seconds'}}</td>
          <td class="text-primary">{{amAgo(item.lastSeen)}}</td>
          <td class="right-align">
            <a class="text-highlight" routerLink="/addresses/{{item.payee}}">{{truncate(item.payee, 8, 5)}}</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col-xs-11 col-xs-offset-1 col-sm-5 col-sm-offset-4">
      <pagination-controls (pageChange)="getPage($event)" id="tposnodes" previousLabel="" nextLabel="">
      </pagination-controls>
    </div>
  </div>
</div>
