<div>
  <app-finder></app-finder>
  <app-ticker></app-ticker>

  <div class="row">
    <div class="col-xs-12 col-md-offset-1 col-md-10">
      <tabset justified="true">
        <tab heading="{{'label.latestBlocks' | translate}}" (select)="selectView('latestBlocks')">
          <app-latest-blocks *ngIf="isSelected('latestBlocks')"></app-latest-blocks>
        </tab>
        <tab heading="{{'label.richestAddresses' | translate}}" (select)="selectView('richestAddresses')">
          <app-richest-addresses *ngIf="isSelected('richestAddresses')"></app-richest-addresses>
        </tab>
        <tab heading="{{'label.masternodes' | translate}}" (select)="selectView('masternodes')">
          <app-masternodes *ngIf="isSelected('masternodes')"></app-masternodes>
        </tab>
      </tabset>
    </div>
  </div>
</div>
