<div class="row ml-0 mr-0 page-content">
  <div class="col-xs-12 page-header">
    <h3 class="page-title">Trezor Wallet</h3>
    <div>
      <span class="ballance-label">{{ 'label.balance' | translate }}:
        <span class="ballance-label__value">{{ satoshiToXsn(getAvailableSatoshis()) | explorerCurrency }}</span></span>
      <a class="btn default-btn" (click)="resetWallet()">{{ 'label.resetWallet' | translate }}</a>
    </div>
  </div>

  <div class="col-xs-12">
    <tabset>
      <tab heading="RECEIVE">
        <div>
          <h4 class="tab-title"> {{ 'label.receiveXSN' | translate }}</h4>
          <div class="row add-address">
            <div class="col-xs-12">
              <div class="select-wrapper">
                <select #selectedAddressType (change)="refresh()">
                  <option value=44>Legacy</option>
                  <option value=84>Segwit</option>
                  <option value=49 selected>P2shsegwit</option>
                </select>
              </div>
              <a class="btn default-btn add-btn" title="Add a new address"
                (click)="generateNextAddress(+selectedAddressType.value)"><span class="glyphicon glyphicon-plus"></span>
                {{ 'label.add' | translate }}</a>
            </div>
          </div>
          <div class="row">
            <table id="addressList" class="table table-responsive table-borderless">
              <thead>
                <tr>
                  <th>{{ 'label.path' | translate | uppercase }}</th>
                  <th>{{ 'label.address' | translate | uppercase }}</th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let item of trezorAddresses">
                  <td>
                    <span class="white--text">{{item.serializedPath}}</span>
                  </td>
                  <td>
                    <div>
                      <a routerLink="/addresses/{{item.address}}"> {{item.address}}</a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </tab>

      <tab heading="SEND">
        <div class="tab-content-send">
          <h4 class="tab-title"> {{ 'label.sendXSN' | translate }}</h4>
          <div class="row custom-form">
            <div class="col-xs-12 col-sm-6 ">
              <div class="row mb-16">
                <div class="col-xs-12 custom-form-row">
                  <span class="sub-label">{{ 'label.address' | translate }}</span>
                  <input class="form-control" #destinationAddress type="text"
                    (change)="destinationAddress.value = destinationAddress.value.trim()">
                </div>
              </div>
              <div class="row mb-16">
                <div class="col-xs-12 custom-form-row">
                  <span class="sub-label">{{ 'label.amount' | translate }}</span>
                  <input class="form-control" #amountValue type="number" min="0" step="0.00000001"
                    (change)="precise(amountValue)">
                </div>
              </div>
              <div class="row mb-16">
                <div class="col-xs-12 custom-form-row">
                  <span class="sub-label">{{ 'label.fee' | translate }}</span>
                  <select #selectedFee (change)="refresh()">
                    <option *ngFor="let fee of transactionFees" value="{{fee.amount}}">
                      {{fee.name}} ({{fee.amount}} {{ 'label.satoshis' | translate }})
                    </option>
                  </select>
                </div>
              </div>
              <div class="row mb-16">
                <div class="col-xs-12">
                  <a class="btn default-btn btn-serach"
                    (click)="signTransaction(destinationAddress.value, amountValue.value, selectedFee.value)">{{
                    'label.send' | translate }}</a>
                </div>
              </div>
            </div>
          </div>
          <br>
          <span class="main-label">{{'label.generatedTransaction' | translate}}: </span>
          <br>
          <a routerLink="/transactions/{{ txid }}">{{ txid }}</a>
        </div>
      </tab>

      <tab heading="TPOS">
        <div class="tab-content-tpos">
          <h4 class="tab-title"> {{ 'label.createContract' | translate }}</h4>
          <div class="row custom-form">
            <div class="col-xs-12 col-sm-8">
              <p class="white--text">For now, this only works on Trezor T, once the contract gets created, send the amount you desire to stake to the contract Staking address, refresh the page after some minutes if you do not see such address</p>
            </div>
            <div class="col-xs-12">
              <form [formGroup]="tposContractFormControl" name="tposContractFormControl" (keyup.enter)="sendTPOS()" novalidate
                autocomplete="off">
                <div class="row">
                  <div class="col-xs-12 col-sm-8 custom-form-row form-group">
                    <span class="sub-label">{{ 'label.merchantAddress' | translate }}</span>
                    <div>
                      <input type="text" class="form-control" aria-describedby="merchantAddress"
                      placeholder="{{ 'label.enterMerchantAddress' | translate }}" formControlName="merchantAddress"
                      name="merchantAddress">
                      <!-- <span
                        *ngIf="tposContractFormControl.get('merchantAddress').invalid && tposContractFormControl.get('merchantAddress').touched"
                        class="text-danger">Merchant address is required</span> -->
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group custom-form-row col-sm-8 col-xs-12">
                    <span class="sub-label">{{ 'label.amount' | translate }}</span>
                    <div>
                      <input class="form-control" (change)="precise(amountXSN)" #amountXSN type="number" min="0"
                        step="0.00000001" placeholder="Enter amount in xsn" formControlName="contractAmount"
                        name="contractAmount">
                      <!-- <span
                        *ngIf="tposContractFormControl.get('contractAmount').invalid && tposContractFormControl.get('contractAmount').touched"
                        class="text-danger">Amount is required</span> -->
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group custom-form-row col-sm-8 col-xs-12">
                    <span class="sub-label">{{ 'label.commision' | translate }}</span>
                    <div>
                      <input class="form-control" #commisionPercent type="number" min="1" max="100"
                        placeholder="Enter commision percent" formControlName="commissionPercent" name="commissionPercent">
                      <!-- <span
                        *ngIf="tposContractFormControl.get('commissionPercent').invalid && tposContractFormControl.get('commissionPercent').touched"
                        class="text-danger">Commision is required</span> -->
                      </div>
                  </div>
                </div>
                <span class="sub-label" *ngIf="tposAddress">Tpos Address:
                  <a routerLink="/addresses/{{tposAddress.address}}">{{tposAddress.address}}</a>
                  <br>
                </span>
                
                <span class="sub-label" *ngIf="tposTransaction">Tpos Transaction:
                  <a routerLink="/transactions/{{tposTransaction}}">{{tposTransaction}}</a>
                  <br>
                </span>

                <span class="sub-label" *ngIf="generatedTransaction">Generated Transaction:
                  <a routerLink="/transactions/{{generatedTransaction}}">{{generatedTransaction}}</a>
                </span>

                <div class="row">
                  <div class="form-group col-sm-8 col-xs-12">
                    <a class="btn default-btn {{tposContractFormControl.invalid ? 'disabled' : ''}}" (click)="sendTPOS()">{{ 'label.send' | translate }}</a>
                  </div>
                </div>

              </form>
            </div>
          </div>

          <div class="table-responsive">
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th class="pr-1 pl-1" style="min-width: 120px;">{{ 'label.ownerAddress' | translate | uppercase }}</th>
                  <th class="pr-1 pl-1" style="min-width: 100px;">{{ 'label.merchantAddress' | translate | uppercase }}</th>
                  <th class="pr-1 pl-1" style="min-width: 100px;">{{ 'label.merchantCommission' | translate | uppercase }}</th>
                  <th class="pr-1 pl-1" style="min-width: 50px;">{{ 'label.state' | translate | uppercase }}</th>
                  <th class="pr-1 pl-1" style="min-width: 100px;">{{ 'label.transaction' | translate | uppercase }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of tposContracts">
                  <td class="pr-1 pl-1"><a routerLink="/addresses/{{item.owner}}">{{item.owner}}</a></td>
                  <td class="pr-1 pl-1"><a routerLink="/addresses/{{item.merchant}}">{{item.merchant}}</a></td>
                  <td class="pr-1 pl-1">{{item.merchantCommission}} %</td>
                  <td class="pr-1 pl-1" style="min-width: 50px;">{{item.state}}</td>
                  <td class="pr-1 pl-1"><a routerLink="/transactions/{{item.txid}}">{{item.txid}}</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
</div>