.page-content {
  background-color: #0F1223;
  border-radius: 8px;
}

.page-header {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-left: 22px;
  padding-right: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 66px;
  border-bottom: 1px solid #181b2b;
}

.page-header .page-title {
  font-size: 20px;
  line-height: 24px;
  color: white;
}

.page-header .ballance-label {
  font-size: 16px;
  color: #989DCC;
  margin-right: 36px;
}

.page-header .ballance-label .ballance-label__value {
  color: white;
}

::ng-deep .nav-tabs {
  border-bottom: none;
}

::ng-deep .nav-tabs>li>a {
  margin: 0;
  border: none;
  color: #989DCC;
}

::ng-deep .nav-tabs>li.active, ::ng-deep .nav-tabs>li:hover {
  background: transparent linear-gradient(0deg, #01D9DE18 0%, #2558EB00 100%) 0% 0% no-repeat padding-box;
}

::ng-deep .nav-tabs>li.active>a, ::ng-deep .nav-tabs>li>a:hover, ::ng-deep .nav-tabs>li>a:focus, ::ng-deep .nav-tabs>li.active>a:focus, ::ng-deep .nav-tabs>li.active>a:hover {
  background: transparent;
  border-bottom: none;
  border: none;
  color: #286090;
}

::ng-deep .nav-tabs li.active a, ::ng-deep .nav-tabs>li.active>a:focus {
  color: white;
}

::ng-deep .nav-tabs li.active::after {
  height: 2px;
  display: block;
  background: #01D9DE 0% 0% no-repeat padding-box;
  content: "";
}

::ng-deep .tab-content>.active {
  width: 100%;
}

::ng-deep .tab-content .tab-title {
  font-size: 16px;
  color: white;
  margin-top: 31px;
  margin-bottom: 15px;
}

.tab-pane > div {
  padding-left: 5px;
}

.add-btn {
  margin-left: 16px;
}

.add-address {
  padding-bottom: 31px;
  border-bottom: 1px solid #181b2b;
}

.add-address .select-wrapper {
  max-width: 490px;
  width: 100%;
}

.add-address .select-wrapper select {
  width: 100%;
}

.sub-label {
  color: #989DCC;
  font-size: 12px;
  line-height: 14px;
}

.tab-content-send .custom-form-row input, .tab-content-send .custom-form select {
  max-width: 535px;
  width: 100%;
}

.tab-content-tpos .custom-form-row input, .tab-content-tpos .custom-form select, .tab-content-tpos .custom-form-row > div {
  max-width: 868px;
  width: 100%;
}

.custom-form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.custom-form a {
  float: right;
  margin-top: 15px;
  padding-left: 60px;
  padding-right: 60px;
}

.custom-form {
  padding-bottom: 31px;
  border-bottom: 1px solid #181b2b;
}

.main-label {
  font-size: 14px;
  line-height: 24px;
  color: #989DCC;
}

.tab-content-tpos .custom-form {
  padding-top: 15px;
}

.tab-content-tpos .custom-form-row {
  min-height: 60px;
  height: 60px;
  margin-bottom: 0;
}

.tab-content-tpos .custom-form-row > div {
  min-height: 60px;
  height: 60px;
}

.tab-content-tpos .custom-form-row > .sub-label {
  padding-bottom: 20px;
}
