<div class="row ml-0 mr-0 page-content">
  <div class="col-xs-12 page-header">
    <h3 class="page-title">Trezor Wallet</h3>
    <div>
      <span class="ballance-label">{{ 'label.balance' | translate }}:
        <span class="ballance-label__value">{{ satoshiToXsn(getAvailableSatoshis()) | explorerCurrency }}</span></span>
      <a class="btn default-btn" (click)="resetWallet()">{{ 'label.resetWallet' | translate }}</a>
    </div>
  </div>

  <div class="col-xs-12">
    <tabset>
      <tab heading="RECEIVE">
        <div>
          <h4 class="tab-title"> {{ 'label.receiveXSN' | translate }}</h4>
          <div class="row add-address">
            <div class="col-xs-12">
              <div class="select-wrapper">
                <select #selectedAddressType (change)="refresh()">
                  <option value=44>Legacy</option>
                  <option value=84>Segwit</option>
                  <option value=49 selected>P2shsegwit</option>
                </select>
              </div>
              <a class="btn default-btn add-btn" title="Add a new address"
                (click)="generateNextAddress(+selectedAddressType.value)"><span class="glyphicon glyphicon-plus"></span>
                {{ 'label.add' | translate }}</a>
            </div>
          </div>
          <div class="row">
            <table id="addressList" class="table table-responsive table-borderless">
              <thead>
                <tr>
                  <th>{{ 'label.path' | translate | uppercase }}</th>
                  <th>{{ 'label.address' | translate | uppercase }}</th>
                </tr>
              </thead>
              <tbody>
  
                <tr *ngFor="let item of trezorAddresses">
                  <td>
                    {{item.serializedPath}}
                  </td>
                  <td>
                    <div>
                      <a routerLink="/addresses/{{item.address}}"> {{item.address}}</a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </tab>

      <tab heading="SEND">
        <div>
          <h4 class="tab-title"> {{ 'label.sendXSN' | translate }}</h4>
          <div class="first-position">{{ 'label.address' | translate }}</div>
          <input class="second-position complete black-text form-control" #destinationAddress type="text" (change)="destinationAddress.value = destinationAddress.value.trim()">
          <div class="first-position">{{ 'label.amount' | translate }}</div>
          <input class="second-position complete black-text form-control" #amountValue
            type="number" min="0" step="0.00000001" (change)="precise(amountValue)">
          <div class="first-position">{{ 'label.fee' | translate }}</div>
          <select class="second-position form-control" #selectedFee (change)="refresh()">
            <option *ngFor="let fee of transactionFees" value="{{fee.amount}}">
              {{fee.name}} ({{fee.amount}} {{ 'label.satoshis' | translate }})
            </option>
          </select>
          <input class="first-position btn btn-primary btn-serach" type="button" value="{{ 'label.send' | translate }}"
            (click)="signTransaction(destinationAddress.value, amountValue.value, selectedFee.value)">
        </div>
        <br>
        <label>{{'label.generatedTransaction' | translate}}: </label>
        <br>
        <a routerLink="/transactions/{{ txid }}">{{ txid }}</a>
      </tab>

      <tab heading="TPOS">
        <label class="first-position"> {{ 'label.createContract' | translate }}</label>

        <form [formGroup]="tposContractFormControl" name="tposContractFormControl" (keyup.enter)="sendTPOS()" novalidate
          autocomplete="off">
          <div class="row">

            <div class="form-group col-md-6 col-xs-8">
              <label for="MerchantAddress">{{ 'label.merchantAddress' | translate }}</label>
              <input type="text" class="form-control" aria-describedby="merchantAddress"
                placeholder="{{ 'label.enterMerchantAddress' | translate }}" formControlName="merchantAddress"
                name="merchantAddress">
              <span
                *ngIf="tposContractFormControl.get('merchantAddress').invalid && tposContractFormControl.get('merchantAddress').touched"
                class="text-danger">Merchant address is required</span>
            </div>
          </div>
          <div class="row">

            <div class="form-group col-md-6 col-xs-8">
              <label for="AmountXSN">{{ 'label.amount' | translate }}</label>
              <input class="form-control" (change)="precise(amountXSN)" #amountXSN type="number" min="0"
                step="0.00000001" placeholder="Enter amount in xsn" formControlName="contractAmount"
                name="contractAmount">
              <span
                *ngIf="tposContractFormControl.get('contractAmount').invalid && tposContractFormControl.get('contractAmount').touched"
                class="text-danger">Amount is required</span>
            </div>
          </div>

          <div class="row">

            <div class="form-group col-md-6 col-xs-8">
              <label for="CommisionPercent">{{ 'label.commision' | translate }}</label>
              <input class="form-control" #commisionPercent type="number" min="1" max="100"
                placeholder="Enter commision percent" formControlName="commissionPercent" name="commissionPercent">
              <span
                *ngIf="tposContractFormControl.get('commissionPercent').invalid && tposContractFormControl.get('commissionPercent').touched"
                class="text-danger">Commision is required</span>
            </div>
          </div>
          <label *ngIf="tposAddress">Tpos Address:
            <a routerLink="/addresses/{{tposAddress.address}}">{{tposAddress.address}}</a>
          </label>
          <br>
          <label *ngIf="tposTransaction">Tpos Transaction:
            <a routerLink="/transactions/{{tposTransaction}}">{{tposTransaction}}</a>
          </label>
          <br>
          <label *ngIf="generatedTransaction">Generated Transaction:
            <a routerLink="/transactions/{{generatedTransaction}}">{{generatedTransaction}}</a>
          </label>

          <div class="row">
            <div class="form-group col-md-4 col-xs-6">
              <button type="button" class="btn btn-primary" [disabled]="tposContractFormControl.invalid"
                (click)="sendTPOS()">{{ 'label.send' | translate }}</button>
            </div>
          </div>

        </form>
        <table class="table table-responsive table-borderless">
          <thead>
            <tr>
              <th>{{ 'label.ownerAddress' | translate }}</th>
              <th>{{ 'label.merchantAddress' | translate }}</th>
              <th>{{ 'label.merchantCommission' | translate }}</th>
              <th>{{ 'label.state' | translate }}</th>
              <th>{{ 'label.transaction' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of tposContracts">
              <td><a routerLink="/addresses/{{item.owner}}">{{item.owner}}</a></td>
              <td><a routerLink="/addresses/{{item.merchant}}">{{item.merchant}}</a></td>
              <td>{{item.merchantCommission}} %</td>
              <td>{{item.state}}</td>
              <td><a routerLink="/transactions/{{item.txid}}">{{item.txid}}</a></td>
            </tr>
          </tbody>
        </table>
      </tab>
    </tabset>
  </div>
</div>
