<div class="row">
  <app-node-ticker class="col-xs-12"></app-node-ticker>

  <div class="node-table-container col-xs-12 col-lg-6">
    <div class="tab-content">
      <div class="page-title-block col-xs-12">
        <div class="page-title">
          {{'label.masternodes' | translate}}
        </div>
        <div *ngIf="isMasternodeUpdating">
          <lottie-animation-view
            [options]="lottieConfig"
            [width]="50"
            [height]="50"
          >
          </lottie-animation-view>
        </div>
      </div>
      <app-masternodes (update)="updateMasternode(event)"></app-masternodes>
    </div>
  </div>

  <div class="node-table-container col-xs-12 col-lg-6">
    <div class="tab-content">
      <div class="page-title-block col-xs-12">
        <div class="page-title">
          {{'label.tposNodes' | translate}}
        </div>
        <div *ngIf="isTPosNodesUpdating">
          <lottie-animation-view
            [options]="lottieConfig"
            [width]="50"
            [height]="50"
          >
          </lottie-animation-view>
        </div>
      </div>
      <app-tposnodes (update)="updateTPosNodes(event)"></app-tposnodes>
    </div>
  </div>
</div>