<div class="row">
    <app-node-ticker class="col-xs-12"></app-node-ticker>
  
    <div class="node-table-container col-xs-12 col-lg-6">
      <div class="tab-content">
        <div class="page-title col-xs-12">
          {{'label.masternodes' | translate}}
        </div>
        <app-masternodes></app-masternodes>
      </div>
    </div>
  
    <div class="node-table-container col-xs-12 col-lg-6">
      <div class="tab-content">
        <div class="page-title col-xs-12">
          {{'label.tposNodes' | translate}}
        </div>
        <app-tposnodes></app-tposnodes>
      </div>
    </div>
  </div>