/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~ngx-toastr/toastr.css";

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

@import '../node_modules/@syncfusion/ej2-angular-inputs/styles/material.css';

@import '../node_modules/@syncfusion/ej2-base/styles/material.css';

@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';

@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';


html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  background: #090D1C;
  background-attachment: fixed;
  font-family: 'Rubik', sans-serif;
  overflow-x: hidden;
  padding: 15px;
}

.table-borderless>tbody>tr>td,
.table-borderless>tbody>tr>th,
.table-borderless>tfoot>tr>td,
.table-borderless>tfoot>tr>th,
.table-borderless>thead>tr>td,
.table-borderless>thead>tr>th {
  border: none;
}

.table-container {
  background-color: #090D1C;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  background-clip: content-box;
  padding-left: 0px;
  padding-right: 0px;
}

.tab-content {
  background-color: #0F1223;
  border-radius: 8px;
  margin-bottom: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  overflow-wrap: anywhere;
}

/* Global Formats */

.text-highlight {
  color: #01D9DE;
}

.text-primary {
  color: #FFFFFF
}

.text-label {
  color: #989DCC;
}

/* Components */

a {
  text-decoration: none !important;
}

/* TextInput */

input[type="text"],
input[type=number],
textarea {
  background: #FFFFFF08 0% 0% no-repeat padding-box !important;
  border-radius: 8px;
  border: none;
  height: 40px;
  padding: 14px 16px 12px;
  color: #989DCC;
}

.form-control::placeholder {
  text-align: left;
  color: #989DCC;
  font-size: 12px;
}

.form-control::-webkit-input-placeholder {
  text-align: left;
  color: #989DCC;
  font-size: 12px;
}

.form-control::-ms-input-placeholder {
  text-align: left;
  color: #989DCC;
  font-size: 12px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #FFFFFF;
  transition: background-color 5000s ease-in-out 0s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input:focus,
input:active {
  outline: none;
  outline-width: 0;
  box-shadow: none;
}

/* Page Title */

.page-title {
  color: #FFFFFF;
  text-align: left;
  letter-spacing: 0px;
  font-size: 20px;
  font-weight: 500;
  margin: 25px -5px 25px 5px;
}

/* Tables */

.table>thead>tr>th {
  color: #989DCC;
  font-size: 14px;
  font-weight: 300;
  padding: 15px 20px;
}

.table>tbody>tr>td {
  padding: 15px 20px;
}

tr.row:before,
tr.row:after {
  content: none;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #FFFFFF08;
}

.table-hover>tbody>tr:hover {
  background-color: #FFFFFF08;
}

th.right-align,
td.right-align {
  text-align: right;
}

/* Panel */

.panel {
  background-color: transparent;
}

.panel-body {
  background-color: #0F1223;
  border-radius: 8px;
  border: none;

  height: 100%;

  overflow-wrap: anywhere;
}

.ticker-container .panel-body {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 0 15px;
}

.ticker-container .panel-body>div {
  padding-left: 0;
  padding-right: 0;
}

.block-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.block-header .page-title {
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width:991px) {

  .no-left,
  .no-right {
    padding-left: unset;
    padding-right: unset;
  }
}

@media (min-width:992px) {
  .no-left {
    padding-left: 0 !important;
  }

  .no-right {
    padding-right: 0 !important;
  }
}

.pr-0 {
  padding-right: 0!important;
}

.pl-0 {
  padding-left: 0!important;
}

.pt-0 {
  padding-top: 0!important;
}

.pr-1 {
  padding-right: 4px!important;
}

.pl-1 {
  padding-left: 4px!important;
}

.ml-0 {
  margin-left: 0!important;
}

.mr-0 {
  margin-right: 0!important;
}

.mb-0 {
  margin-bottom: 0!important;
}

.mb-16 {
  margin-bottom: 16px!important;
}

.default-btn {
  padding: 9px 18px 7px;
  border-radius: 20px;
  border: 2px solid #01D9DE;
  cursor: pointer;
  color: white;
}

.default-btn:hover {
  color: #286090;
}

.select-wrapper {
  display: inline-block;
}

select {
  height: 40px;
  background: #222534 0% 0% no-repeat padding-box;
  border-radius: 8px;
  color: #989DCC;
  font-size: 14px;
  padding-left: 19px;
  padding-right: 16px;
  border: none;
  appearance: none;
  background: #222534 url("data:image/svg+xml;utf8,<svg viewBox='0 0 140 140' width='24' height='24' xmlns='http://www.w3.org/2000/svg' ><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='%23989DCC'/></g></svg>") calc(100% - 10px) 50% no-repeat;
}

select:hover {
  cursor: pointer;
}

select:focus {
  outline: none;
}

a.disabled {
  color: grey;
  pointer-events: none;
}

.fs-14 {
  font-size: 14px!important;
}

.fs-16 {
  font-size: 16px!important;
}

.loading {
  width: 100%;
  text-align: center;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 1396px) {
  
}

@media (max-width: 1395px) {
  .table>thead>tr>th, .table>tbody>tr>td {
    font-size: 12px;
  }

  div.data {
    font-size: 15px!important;
  }
}

@media (max-width: 1200px) {
  div.data {
    font-size: 18px!important;
  }
}

@media (max-width: 600px) {
  .blocks-info {
    flex-direction: column;
  }

  .blocks-info>div {
      min-width: 110px;
      display: flex;
      justify-content: space-between;
  }
}

@media (max-width: 500px) {
  div.data {
    font-size: 15px!important;
  }

  .page-title {
    font-size: 18px;
    margin-left: 0;
  }

  .show-more {
    font-size: 12px;
  }
}

table.isLoading td {
  position: relative;
  overflow: hidden;
  /* height: 50px; */
}

table.isLoading td div {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  width: 100%;
  backface-visibility: hidden;
}

table.isLoading tr:nth-child(even) td div::after {
  content: " ";
  height: 100%;
  width: 100%;
  left: 0%;
  top: 0%;
  position: absolute;
  border-radius: 10px;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  background-image: linear-gradient(90deg, #23263A, #23263Aff, #23263A);
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

table.isLoading tr:nth-child(odd) td div::after {
  content: " ";
  height: 100%;
  width: 100%;
  left: 0%;
  top: 0%;
  position: absolute;
  border-radius: 10px;
  background-image: linear-gradient(90deg, #2A2C3A, #2A2C3Aff, #2A2C3A);
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes example {
  from {transform: translateX(-100%); }
  to {transform: translateX(100%);}
}

.page-title-block {
  display: flex;
  align-items: center;
}

.white--text {
  color: white;
}

.not-found {
  background-color: #090D1C;
  border-color: #090D1C;
  color: #01D9DE;
  padding: 20px 15px;
  border-radius: 8px;
}

.not-found p {
  margin: 0;
}

.small, small {
  font-size: 75%;
}