[Unit]
Description=BTC RPC Server

[Service]
Type=simple
WorkingDirectory=/home/bitcoin/
StandardOutput=tty
StandardError=tty
User=bitcoin
LimitNOFILE=65535
ExecStart=/home/bitcoin/app/bitcoind

Restart=on-failure

[Install]
WantedBy=multi-user.target
