[Unit]
Description=GRS RPC Server

[Service]
Type=simple
WorkingDirectory=/home/groestlcoin/
StandardOutput=tty
StandardError=tty
User=groestlcoin
LimitNOFILE=65535
ExecStart=/home/groestlcoin/app/groestlcoind

Restart=on-failure

[Install]
WantedBy=multi-user.target
