[Unit]
Description=LTC RPC Server

[Service]
Type=simple
WorkingDirectory=/home/ltc/
StandardOutput=tty
StandardError=tty
User=ltc
LimitNOFILE=65535
ExecStart=/home/ltc/app/litecoind

Restart=on-failure

[Install]
WantedBy=multi-user.target
