<div>
  <div [hidden]="address != null">
    <alert>{{'message.addressNotFound' | translate}}</alert>
  </div>
  <div *ngIf="address != null">
    <div class="row">
      <label class="col-sm-2 col-md-1 col-xs-1 col-lg-1">{{'label.address' | translate}}</label>
      <label class="col-sm-2 col-md-1 col-xs-1 col-lg-1">{{addressString}}</label>
    </div>
    <div class="row">
      <label class="col-sm-2 col-md-1 col-xs-1 col-lg-1">{{'label.balance' | translate}}</label>
      <label class="col-sm-2 col-md-1 col-xs-1 col-lg-1">{{address.balance}} {{'label.coinName' | translate}}</label>
    </div>
    <div class="row">
      <label class="col-sm-2 col-md-1 col-xs-1 col-lg-1">{{'label.received' | translate}}</label>
      <label class="col-sm-2 col-md-1 col-xs-1 col-lg-1">{{address.received}} {{'label.coinName' | translate}}</label>
    </div>
    <div class="row">
      <label class="col-sm-2 col-md-1 col-xs-1 col-lg-1">{{'label.spent' | translate}}</label>
      <label class="col-sm-3 col-md-2 col-xs-2 col-lg-2">{{getSent(address)}} {{'label.coinName' | translate}}</label>
    </div>
    <div class="row">
      <label class="col-sm-2 col-md-1 col-xs-1 col-lg-1">{{'label.transactionCount' | translate}}</label>
      <label class="col-sm-3 col-md-2 col-xs-2 col-lg-2">{{address.transactions.length}}</label>
    </div>

    <div>
      <div class="row">
        <label class="col-sm-2 col-md-1 col-xs-1 col-lg-1">{{'label.transactions' | translate}}</label>
      </div>
      <div class="row" *ngFor="let item of address.transactions">
        <div class="col-sm-2 col-md-1 col-xs-1 col-lg-1">
          <a routerLink="/transactions/{{item}}">{{item}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
