<div class="block-table-container">

  <div class="row" *ngIf="blocks == null">
    <div class="col-xs-12">
      <h4>{{'message.loadingLatestBlocks' | translate}}</h4>
    </div>
  </div>

  <div *ngIf="blocks != null">
    <div class="table-responsive">
      <table class="table table-borderless table-striped {{isLoading && loadingType == 2 ? 'isLoading' : ''}}">
        <thead>
          <tr class="row">
            <th class="col-xs-1 pr-0" style="min-width: 85px;">{{'label.height' | translate | uppercase}}</th>
            <th class="col-xs-3 pr-1 pl-1" style="min-width: 200px;" *ngIf="!hideBlockHash">{{'label.blockhash' | translate | uppercase}}</th>
            <th class="col-xs-2 pr-0 pl-1" style="min-width: 110px;">{{'label.extractedBy' | translate | uppercase}}</th>
            <th class="col-xs-1 pr-1 pl-1" style="min-width: 100px;">{{'label.difficulty' | translate | uppercase}}</th>
            <th class="col-xs-1 pl-0 pr-0" style="min-width: 110px;">{{'label.transactions' | translate | uppercase}}</th>
            <th class="col-xs-2 right-align pl-0">{{'label.blocktime' | translate | uppercase}}</th>
          </tr>
        </thead>
        <tbody *ngIf="isLoading && loadingType == 2">
          <tr *ngFor="let item of emptyArray; let i = index">
            <td class="pr-0"><div>&nbsp;</div></td>
            <td class="pr-1 pl-1" *ngIf="!hideBlockHash"><div>&nbsp;</div></td>
            <td class="text-primary pr-0 pl-1"><div>&nbsp;</div></td>
            <td class="text-primary pr-1 pl-1"><div>&nbsp;</div></td>
            <td class="text-primary pl-0 pr-0"><div>&nbsp;</div></td>
            <td class="text-primary right-align pl-0" style="min-width: 220px;"><div>&nbsp;</div></td>
          </tr>
        </tbody>
        <!-- [ngClass]="{ 'block-table': isBlockRecent(item) }" -->
        <tbody infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="300" (scrolled)="getBlocks(true)"
          [scrollWindow]="true">
          <tr *ngFor="let item of blocks" >
            <td class="pr-0">
              <a class="text-highlight" routerLink="/blocks/{{item.hash}}">{{item.height}}</a>
            </td>
            <td class="pr-1 pl-1" *ngIf="!hideBlockHash">
              <a class="text-highlight" routerLink="/blocks/{{item.hash}}">{{truncate(item.hash, 12, 8) | uppercase}}</a>
            </td>
            <td class="text-primary pr-0 pl-1">{{extractedBy(item)}}</td>
            <td class="text-primary pr-1 pl-1">{{item.difficulty | number:'1.2-2'}}</td>
            <td class="text-primary pl-0 pr-0">{{item.transactions.length > 0 ? item.transactions.length : item.transactions}}</td>
            <td class="text-primary right-align pl-0" style="min-width: 220px;">
              {{item.medianTime * 1000 | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm:ss'}} 
              ({{amAgo(item.medianTime)}})
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="isLoading  && loadingType == 1" class="loading">
        <lottie-animation-view
          [options]="lottieConfig"
          [width]="150"
          [height]="150"
        >
        </lottie-animation-view>
      </div>
    </div>
  </div>
</div>