<div class="block-table-container">

  <div class="row" *ngIf="blocks == null">
    <div class="col-xs-12">
      <h4>{{'message.loadingLatestBlocks' | translate}}</h4>
    </div>
  </div>

  <div *ngIf="blocks != null">
    <div class="table-responsive">
      <table class="table table-borderless table-striped">
        <thead>
          <tr class="row">
            <th class="col-xs-1 pr-0">{{'label.height' | translate | uppercase}}</th>
            <th class="col-xs-3" *ngIf="!hideBlockHash">{{'label.blockhash' | translate | uppercase}}</th>
            <th class="col-xs-2">{{'label.extractedBy' | translate | uppercase}}</th>
            <th class="col-xs-2">{{'label.difficulty' | translate | uppercase}}</th>
            <th class="col-xs-2">{{'label.transactions' | translate | uppercase}}</th>
            <th class="col-xs-2 pl-0">{{'label.blocktime' | translate | uppercase}}</th>
          </tr>
        </thead>

        <tbody infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="300" (scrolled)="getBlocks(true)"
          [scrollWindow]="true">
          <tr *ngFor="let item of blocks" [ngClass]="{ 'block-table': isBlockRecent(item) }">
            <td class="pr-0">
              <a class="text-highlight" routerLink="/blocks/{{item.hash}}">{{item.height}}</a>
            </td>
            <td *ngIf="!hideBlockHash">
              <a class="text-highlight" routerLink="/blocks/{{item.hash}}">{{truncate(item.hash, 12, 8) | uppercase}}</a>
            </td>
            <td class="text-primary">{{extractedBy(item)}}</td>
            <td class="text-primary">{{item.difficulty | number:'1.2-2'}}</td>
            <td class="text-primary">{{item.transactions.length > 0 ? item.transactions.length : item.transactions}}</td>
            <td class="text-primary pl-0">
              {{item.medianTime * 1000 | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm:ss'}} <br />
              ({{amAgo(item.medianTime)}})
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>