<div class="tab-content row">
    <div class="page-title col-sm-3 col-xs-12">
        {{'label.transactinoLabel' | translate}}
    </div>
    <div class="col-sm-9 col-xs-12 text-label">
        <div class="blocks-info">
            <div>
                {{'label.height' | translate | uppercase}}: <span class="text-highlight">1551778</span>
            </div>
            <div>
                {{'label.inflation' | translate | uppercase}}: <span class="text-highlight">7.58%</span>
            </div>
            <div>
                {{'label.price' | translate | uppercase}}: <span class="text-highlight">$2.63</span>
            </div>
        </div>
    </div>
    <div class="col-md-12 transaction-table-wrapper">
        <app-transaction-table></app-transaction-table>
    </div>
</div>